	.layout {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      margin-bottom:10px;
      margin-left:80px;
      margin-right:80px;
    }
    
.admin-panel {
    width: 20%;
    margin-top: 30px;
    border-radius: 10px;
    height: 750px;
    background-color: #252420;
    font-family: Arsenal, serif;
    padding: 20px;
    color: #F2EBE3;
    position: sticky;
    top: 30px;
}

.admin-panel ul {
    list-style: none;
    padding: 0;
    margin: 0px 10px;
}

.admin-panel ul li a {
    text-decoration: none;
    color: #F2EBE3;
    padding: 10px 12px;
    font-size: 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 7px;
    border-radius: 10px;
}

.admin-panel h2 {
    font-size: 25px;
    color: #F2EBE3;
    margin: 15px 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.admin-panel h2 img,
.admin-panel ul li a img {
    width: 30px;
    height: 30px;
}

.admin-panel ul li a:hover {
    background-color: #3a3733;
}

.admin-panel ul li a.active {
    color: #BDB5AC;
}

.admin-panel-bottom {
	margin-top:300px;
	}
	
