body {
    background-color: #EFEEEB;
}

@font-face {
    font-family: Cormorant Garamond;
    src: url(./Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: Arsenal;
    src: url(./Arsenal/Arsenal-Regular.ttf) format('truetype');
}

.admin-contact {
    display: flex;
    gap: 50px;
    margin: 20px 8.33%;
}

.message-main {
    width: 80%;
}

.message-main h2 {
    font-family: Cormorant Garamond, serif;
    font-size: 36px;
    color: #252420;
    margin-bottom: 15px;
}

.message-main table {
	font-family: Arsenal, serif;
    background-color: #FEFDFC;
    width: 100%;
    border-radius: 10px;
    border-collapse: collapse;
}

.message-main th {
    background-color: #252420;
    color: #F2EBE3;
    font-size: 18px;
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: left;
}

.message-main td {
    color: #252420;
    border: 1px solid #dddddd;
    padding: 12px;
    font-size: 14px;
}

.message-main tbody tr:hover {
    background-color: #e7e5e1;
}