@font-face {
    font-family: "CormorantGaramond";
    src: url("../fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/InterVariable.woff2");
}
@font-face {
    font-family: "Arsenal";
    src: url("../fonts/Arsenal/Arsenal-Regular.ttf");
}
body {
      font-family: 'CormorantGaramond', serif;
      background: var(--bg);
      align-items:center;
}
.editDetailsPanel {
      background: white;
      padding:30px;
      border-radius: 20px;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.05), 0 10px 10px -5px rgba(0, 0, 0, 0.02);
      width: 100%;
      max-width: 480px;
      text-align: center;
      border: 1px solid rgba(226, 232, 240, 0.8);
      display:flex;
      flex-direction:column;
      margin-left:450px;
      margin-top:30px;
}  
h2{
      color: #252420;
      font-weight: 1500;
      margin-bottom: 20px;
      letter-spacing: -0.5px;
      font-size:32px;
      text-align:center;
} 
.button {
    width: 65%;
    background-color:#EFEEEB;
    color:#252420;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:8px;
    padding-top:8px;
    border-radius: 10px;
    border: none;
    font-family: "Inter";
    font-size: 16px;
    cursor: pointer;
    margin-bottom:50px;
}
.pfpcircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: block;
    background-color: #EFEEEB;
    margin-bottom:30px;
    margin-left:160px;
}
.pfpcircle img {
    width: 70%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}
.textinput{
	text-align:left;
	margin-top:10px;
}
.textinput label {
	font-size:20px;
	font-weight:1000;
	display:flex;
	flex-direction:column;
	text-align:left;
    color: #252420;
   	margin-bottom: 6px;
    margin-left: 4px;
    padding-top:20px;
}
.textinput input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 12px;
    border: 1px solid black;
    font-family: Arsenal;
    font-size: 18px;
   	color: #252420;
    box-sizing: border-box;
    transition: all 0.2s;
    background: #fcfdfe;
}
.textinput input:focus {
    outline: none;
    border-color: grey;
    box-shadow: 0 0 0 4px rgba(74, 144, 226, 0.1);
    background: white;
}
.submitButton{
	width: 65%;
    background-color: #252420;
    color: white;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:10px;
    padding-top:10px;
    border-radius: 10px;
    border: none;
    font-family: "Inter";
    font-size: 16px;
    cursor: pointer;
    margin-top:40px;	
}
.cancelLink{
    margin-top:15px;
    color:#252420;
    font-size: 18px;
    font-weight: 1000;
    transition: color 0.2s;
    text-decoration:none;
}
.cancelLink:hover{
	color:#c8b89a;
}

 .errordiv {
            background: #fff1f2;;
            color: #e11d48;
            padding-left:10px;
            padding-top:10px;
            padding-bottom:12px;
            border-radius: 12px;
            font-size: 15px;
            margin-bottom: 10px;
            margin-left:30px;
            margin-right:45px;
            display: flex;
            align-items: center;
            gap: 10px;
            /* Entrance animation */
            animation: fadeIn 0.3s ease forwards;
            /* Preparation for exit transition */
            transition: opacity 0.5s ease, transform 0.5s ease, margin 0.5s ease;
            overflow: hidden;
            font-family: "Inter"
        }