@font-face {
    font-family: "CormorantGaramond";
    src: url("../fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/InterVariable.woff2");
}
@font-face {
    font-family: "Arsenal";
    src: url("../fonts/Arsenal/Arsenal-Regular.ttf");
}
:root{
      --bg: #EFEEEB;
      --sidebar-bg: #252420;
}
body {
      font-family: 'CormorantGaramond', serif;
      background: var(--bg);
      align-items:center;
}
.editDetailsPanel {
      background: white;
      padding:30px;
      border-radius: 20px;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.05), 0 10px 10px -5px rgba(0, 0, 0, 0.02);
      width: 100%;
      max-width: 480px;
      text-align: center;
      border: 1px solid rgba(226, 232, 240, 0.8);
      display:flex;
      flex-direction:column;
      align-items:center;
      margin-left:450px;
      margin-top:30px;
}  
h2{
      color: var(--sidebar-bg);
      font-weight: 800;
      margin-bottom: 20px;
      letter-spacing: -0.5px;
} 
.button {
    width: 60%;
    background-color: #412617;
    color: white;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:10px;
    padding-top:10px;
    border-radius: 10px;
    border: none;
    font-family: "Inter";
    font-size: 16px;
    cursor: pointer;
}
.pfpcircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: block;
    background-color: #EFEEEB;
    margin-bottom:20px;
    margin-left:20px;
}
.pfpcircle img {
    width: 70%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}