@font-face {
    font-family: 'Arsenal';
    src: url('./Arsenal/Arsenal-Regular.ttf');
}

nav {
    padding: 10px 8.33%;
    display: flex;
    height: 100px;
    align-items: center;
}

.nav-logo,
.nav-menu,
.nav-icon {
    flex: 1;
}

.nav-logo img {
    width: 22%;
    height: auto;
}

.nav-menu {
    justify-content: center;
    display: flex;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #0A0A0A;
    font-family: 'Arsenal', sans-serif;
    font-size: 22px;
}

.nav-menu a:hover {
    color: #1f3a5f;
}

.nav-icon {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
}

.nav-icon img {
    width: 6%;
    height: 30%;
}