body {
    background-color: #EFEEEB;
}

@font-face {
    font-family: "CormorantGaramond";
    src: url("../fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/InterVariable.woff2");
}

.maindiv{
	display:flex;
	flex-direction:row;
}

 .layout {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      margin-bottom:10px;
      margin-left:80px;
      margin-right:80px;
    }

.divconfirm {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.orderconfirmheading {
      font-size: 48px;
      margin-bottom: 20px;
      margin-top: 0px;
      margin-left:200px;
      font-family:"CormorantGaramond"
    }
   
.productbg{
	display: flex;
    flex-direction: column;
    background-color: #252420;
    border-radius: 10px;
    margin-top: 5px;
    padding-left:15px;
    padding-right:15px;
}

.proddesc{
	display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: white;
    font-family:"CormorantGaramond";
    font-size:25;
    margin-top:10px;
    margin-bottom:10px;
}
    
.main {
      width: 80%;
      padding: 10px;
    }

.labeldiv{
	display:flex;
	flex-direction:column;
	font-family: "Inter";
	color: white;
	font-size: 16px;
	margin-bottom: 20px;
	margin-left: 30px;
}

input{
	width: 90%;
	border-radius: 10px;
	padding: 15px;
	border: none;
	margin-top: 15px;
}

button {
	width: 86%;
    background-color: #412617;
    color: white;
    padding: 15px;
    margin-left: 30px;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    font-family: "Inter";
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .divbg {
        flex-direction: column;
    }

   .divimg,
    .divsignin {
        width: 100%;
        margin: 0;
    }
	
	.signinheading {
        padding-left: 0;
        text-align: center;
    }

    .divimg {
        display: flex;
        justify-content: center;
        padding:10px;
        box-sizing: border-box;
    }

    .divsignin {
        font-size: 32px;
    }
}