/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: "CormorantGaramond";
    src: url("../fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Arsenal";
    src: url("../fonts/Arsenal/Arsenal-Regular.ttf") format("truetype");
}

/* Body */
body {
    background-color: #EFEEEB;
    color: #111;
    font-family: "Arsenal";
}

/* Product Container */
.container {
    width: 85%;
    max-width: 1100px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    background-color: #F2EBE3;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* Product Image */
.container img {
    width: 50%;
    height: 520px;
    object-fit: cover;
}

/* Product Description */
.description {
    flex: 1;
    padding: 40px;
}

/* Product Title */
.description h1 {
    font-family: "CormorantGaramond";
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 600;
}

/* Price */
.price-container p {
    font-size: 35px;
    margin-bottom: 25px;
    color: #2b2b2b;
}

/* Headings */
.description h2 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 600;
}

/* Paragraph */
.description p {
    font-size: 17px;
    line-height: 1.7;
    color: #444;
}

/* Buttons */
.button-group {
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

/* Buy Button */
.buy-now {
    background-color: #412617;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: "CormorantGaramond";
    transition: 0.3s ease;
}

.buy-now:hover {
    background-color: #5a3724;
}

/* Cart Button */
.add-to-cart {
    background-color: transparent;
    color: #111;
    border: 1px solid #111;
    padding: 14px 28px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: "CormorantGaramond";
    transition: 0.3s ease;
}

.add-to-cart:hover {
    background-color: #111;
    color: white;
}

/* Remove form spacing */
.button-group form {
    margin: 0;
}

/* Popup Message */
.popup-message {
    position: fixed;
    top: 90px;
    right: 20px;
    min-width: 220px;
    background: #28a745;
    color: white;
    padding: 14px 18px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    z-index: 999;
}
