* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Fonts */
@font-face {
    font-family: "CormorantGaramond";
    src: url("../fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Arsenal";
    src: url("../fonts/Arsenal/Arsenal-Regular.ttf") format("truetype");
}

/* Body */
body {
    background-color: #EFEEEB;
    font-family: "CormorantGaramond";
    color: #000; 
    
}

/* Container */
.container {
	max-width: 1100px;
	width: 90%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    background-color: #F2EBE3
}

/* Image */
.container img {
  	width: 50%;
    height: auto;
    object-fit: cover;
}

/* Description */
.description {
    flex: 1;
    padding: 32px;
    color: #000;
}

/* Title */
.description h1{
    font-size: 50px;
    font-family: "CormorantGaramond";
}

.description h2{
	font-family: "Arsenal";
    font-size: 35px;
    margin: 15px 0;
}

.description p{
	font-family: "Arsenal";
    font-size: 20px;
}
/* Price */
.price-container p {
    font-family: "Arsenal";
    font-size: 35px;
    margin-top: 10px;
}

/* Buttons */


.buy-now {
    background: #412617;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-family: "CormorantGaramond";
    font-size:24px;
}

.add-to-cart {
    background: #ffffff;
    color: #000000;
    padding: 10px 20px;
   border: 1px solid black;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "CormorantGaramond";
    font-size:24px;
}

.button-group {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

/* remove form default spacing issue */
.button-group form {
    margin: 0;
}

.popup-message {
    position: fixed;
    top: 90px;
    right: 20px;
    min-width: 220px;
    background: #28a745; 
    color: #fff;
    padding: 14px 18px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

