/* product page styling */
body {
    margin: 0;
    padding: 0;
    background-color: #EFEEEB;
}

@font-face {
    font-family: Cormorant Garamond;
    src: url(./Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: Arsenal;
    src: url(./Arsenal/Arsenal-Regular.ttf) format('truetype');
}

header {
    position: relative;
    background: transparent; 
}

nav img, .nav-menu a {
    filter: brightness(0) invert(1);
}

.product-hero img {
    width: 100%;
    margin-top: -130px;
}

.product-main {
    display: flex;
    gap: 30px;
    padding: 40px 5%;
    font-family: Arsenal, serif;
    margin-right: 8%;
    margin-left: 8%;
}

.filter {
    margin-top: 50px;
    width: 270px;
    height: 550px;
    background: #252420;
    color: #F2EBE3;
    padding: 20px;
    border-radius: 10px;
}

.filter h3 {
    font-family: Cormorant Garamond, serif;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.filter h4 {
    font-family: Arsenal, serif;
    margin: 20px 0;
    font-size: 22px;
}

.filter hr {
    height: 2px;
    background: #F2EBE3;
    opacity: 1;
    border: none;
}

.filter label {
    display: flex;
    gap: 10px;
    margin: 8px 0;
    font-size: 16px;
}

.filter button {
	font-family: Arsenal, serif;
    font-size: 16px;
    background-color: #F2EBE3;
    color: #252420;
    padding: 8px 16px;
    margin-top: 15px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.filter button:hover {
    background-color: #e0d9c7;
}

.product-content {
    flex: 1;
}

.search {
    background: #252420;
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 25px;
    width: 500px;
    margin: 0 auto;
}

.search input {
    background: transparent;
    border: none;
    width: 100%;
    color: #F2EBE3;
}

.search input::placeholder {
    color: #F2EBE3;
    font-family: Arsenal;
    font-size: 16px;
}

.search input:focus {
    outline: none;
}

.search button {
	font-size: 16px;
    background: transparent;
    border: none;
    color: #F2EBE3;
    cursor: pointer;
}

.search button:hover {
    color: #e0d9c7;
}

.products-grid {
	margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
}

.product-itelis .products {
    width: 100%;
    height: 300px;   
}

.product-itelis .products img {
	border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-itelis .products img:hover {
    transform: scale(1.05); 
}

.prod-info {
	font-family: Arsenal, serif;
	font-size: 20px;
    color: #252420;
    padding: 15px 0px;
}

.prod-info p {
    font-weight: bold;
}

.prod-info a {
    text-decoration: none;
    color: #252420;
    font-weight: bold;
    font-size: 20px;
}

.cart-icon i {
    color: #252420;
    font-size: 25px;
}

.search-row {
	display: flex;
	align-items: center;
}

/* Responsive product page styling */
@media (max-width: 1000px) {

    .product-main {
        padding: 0px 5%;
        gap: 20px;
        flex-direction: column;
    }
    
    nav img,
	.nav-menu a {
	    filter: none;
	}
	
    .search-row {
        display: flex;
        flex-direction: column;
        gap: 15px;
        order: 1;
        width: 100%;
    }

    .search {
        width: 100%;
    }

    .cart-icon {
        align-self: flex-end;
    }

    .filter {
        order: 2;
        width: 100%;
        padding: 15px;
    }

    .filter h3 {
        font-size: 24px;
    }

    .filter h4 {
        font-size: 18px;
    }

    .filter label {
        font-size: 14px;
    }

    .filter button {
        width: 100%;
        text-align: center;
    }

    .product-content {
        order: 3;
        width: 100%;
    }

    .products-grid {
        grid-template-columns: 1fr; /* one product per row */
        gap: 20px;
    }

    .product-itelis .products {
        height: 260px; 
    }

    .prod-info {
        font-size: 16px;
    }

    .prod-info a {
        font-size: 16px;
        font-size: 16px;
    }

    .product-hero img {
        margin-top: -50px;
    }
}